<h1>Codeial /<%=title%></h1>
<!-- created code for post sections -->
<section id="feed-posts">
  <h4>Posts</h4>
  <form action="/users/create/posts" id="new-post-form" method="POST">
    <textarea
      name="content"
      cols="30"
      rows="5"
      placeholder="Type-here...."
    ></textarea>
    <input type="submit" value="Post" />
  </form>
  <!-- show user  post into home page -->
  <div id="posts-list-container">
    <ul>
      <% posts.forEach(function(post) { %>
      <p>
        <li>
          <%= post.content %>
          <br />
          <%= post.user.name%>
        </li>
      </p>

      <% }); %>
    </ul>
  </div>
</section>
