<h1>Codeial /<%=title%></h1>
<!-- created code for post sections -->
<section id="feed-posts">
  <h4>Posts</h4>
  <% if(locals.user){%>
  <form action="/users/create/posts" id="new-post-form" method="POST">
    <textarea
      name="content"
      cols="30"
      rows="5"
      placeholder="Type-here...."
    ></textarea>
    <input type="submit" value="Post" />
  </form>
  <%}%>
  <!-- show user  post into home page -->
  <ul>
    <% posts.forEach(function(post) { %>
    <li>
      <%= post.content %>
      <br />
      <% if (post.user) { %>
        <%= post.user.name %>
      <% } else { %>
        Unknown User
      <% } %>
    </li>
    <% }); %>
  </ul>
  
  </div>
</section>
